//---------------------------------------------fonts
$font_path: '../fonts/';
$font_1: 'Roboto', sans-serif;
$font_2: 'Klapt', sans-serif;
//---------------------------------------------fonts###

//---------------------------------------------colors
$white: #fff;
$black: #000;
$orange: #f63000;
$orange_2: #ff4800;
$orange_3: #fc2d2d;
$orange_4: #ff6633;
$grey: #d9d9d9;
$dark: #262626;
$dark_2: #000c10;
$green: #67cf35;
//---------------------------------------------colors###

//---------------------------------------------z-index
$z-index: (
	popup: 101,
	header: 100,
	footer: 100,
);
//---------------------------------------------z-index###

//---------------------------------------------layout
$page_width: 106rem;
$page_width_sm: 86.4rem;
//---------------------------------------------layout###

//---------------------------------------------global values
$base_transition: 0.2s ease-in-out;
//---------------------------------------------global values###

//---------------------------------------------media points
$point_0: 1920px;
$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023.5px;
$point_4: 768px;
$point_5: 360px;
//---------------------------------------------media points

//---------------------------------------------forms
$input_height: 7.3rem;
$input_offset: 0 6rem 0 2.6rem;
$input_font_size: 1.8rem;
$input_placeholder_color: rgba($black, 0.7);
$input_text_color: $black;
//---------------------------------------------forms###
