mixin article(data)
	article.article
		+picture({
			media: 480,
			class: 'article__pic',
			img_class: 'article__img',
			img: data.img,
			img_mob: data.img_mob,
			alt: (data.alt || data.title),
			lazy: true
		})
		h3.article__title= data.title
		p.article__descr= data.text
		a.article__link(href=data.href) ...read more
