mixin footer
	footer.footer
		.container.container--sm_mod
			p.footer__text GG.BET IS OPERATED BY BRIVIO LIMITED, A COMPANY REGISTERED IN THE REPUBLIC OF CYPRUS, WITH ITS PRINCIPAL PLACE OF BUSINESS AT: OFFICE 102, 12A LEKORPOUZIER, LIMASSOL, CYPRUS; REGISTRATION NUMBER: HE315596; VAT NUMBER 10315596B. ALL GAMBLING SERVICES ARE LICENSED BY INVICTA NETWORKS (LICENSE 8048/JAZ2012-009) N.V., ADDRESS: E-COMMERCE PARK VREDENBERG, CURACAO, NETHERLANDS ANTILLES, REGISTRATION NUMBER: 123787, WHICH IS A PARENT COMPANY OF BRIVIO LIMITED.
			p.footer__text © 2022 GG.BET. ALL RIGHTS RESERVED.