-
	nav = [
		{	title: 'About Us', href: '#about-us'	},
		{	title: 'Our Services', href: '#our-services'	},
		{	title: 'Contacts', href: '#contacts'	},
	];


mixin header(data)
	header.header.js-header
		.container
			.header__content
				a.header__logo(href='#')
					img.header__logo_img(src='./images/logo.svg' alt='GG.BET logo')
				nav.header__nav
					ul.header__nav_list
						each link in nav
							li.header__nav_item.js-header-link
								a.header__nav_link(href=link.href)=link.title
					a.header__btn.header__btn--mobile_mod(href='#contact-us') Contact us
				a.header__btn.header__btn--desktop_mod(href='#contact-us') Contact us
				button.header__menu_btn.js-header-menu-btn(type='button' aria-label='Toggle menu')
					span