extends ../layout/layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'GGBET', template_name: 'index'}

block content_block
	include ../blocks/hero
	include ../blocks/news