.footer {
	width: 100%;
	flex: 0 0 auto;

	@include bp($point_2, min) {
		padding: 0 var(--gl-hr-indent) 5rem;
	}

	@include bp($point_3) {
		padding: 2.4rem var(--gl-hr-indent) 5rem;
	}
}

.footer__text {
	@include text_sm;

	font-family: $font_2;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	color: $orange_2;

	opacity: 0.3;

	@include bp($point_2, min) {
		letter-spacing: -0.024em;
	}

	&:not(:last-child) {
		margin-bottom: 1.4rem;
	}
}
